:root{
	--main-bg-color: #25729E;
	--main-sidenav-color: #252525;
	--hover-color: #555555;
	--font-color1: #37A0DC;
	--color1: #000000;
	--color2: #37A0DC;
	--color3: #00FF00;
	--color4: #FFFFFF;
	--color5: #F72828;
	--color6: #FF6600;
	--font: Poppins;
	--cursor: pointer;
}

:focus-visible{
	outline: var(--color1);
}

body, html{
	margin: 0;
	padding: 0;
	min-width: 1140px;
	font-family: var(--font);
	overflow-x: hidden;
	background-color: var(--main-bg-color);
	cursor: var(--cursor);
}

button{
	background-color: var(--main-sidenav-color);
	padding: .3rem;
	color: var(--font-color1);
	font-size: 12px;
	text-decoration: none;
	border: none;
	font-weight: bold;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

button:hover{
	border: none;
	background: var(--hover-color);
	box-shadow: 0px 0px 1px var(--hover-color);
}

dialog{
	margin-top: 15%;
	background-color: var(--main-bg-color);
	padding: 1em;
	color: var(--main-bg-color);
	font-size: 15px;
	-webkit-animation: dfadein 0.5s;
	animation: dfadein 0.5s;
}

dialog p, dialog input{
	margin-left: 20px;
}

h1{
	color: var(--color4);
	margin-block-start: 5px;
}

h2{
	color: var(--color3);
	margin-block-start: -5px;
	margin-block-end: 0px;
}

h3{
	text-align: center;
	color: var(--color3);
	font-size: 30px;
	height: 35px;
}

h4{
	text-align: center;
	color: var(--color3);
	font-size: 20px;
	height: 25px;
	margin-left: 5px;
}

h5{
	text-align: left;
	color: var(--color3);
	font-size: 15px;
	height: 25px;
	margin-left: 5px;
}

h5:hover .tooltiptext{
	visibility: visible;
}

hr{
	border-color: var(--main-bg-color);
	border-width: 1px;
	clear: both;
}

.addButtonButton{
	background-color: var(--color1);
	color: var(--main-bg-color);
	float: right;
	margin-right: 10px;
	margin-top: -50px;
}

.addButtonButton:hover{
	background-color: var(--color3);
	color: var(--color1)
}

.deleteSectionButton{
	background-color: var(--color1);
	color: var(--main-bg-color);
	float: right;
	margin-right: 10px;
	margin-top: -90px;
}

.deleteSectionButton:hover{
	background-color: var(--color5);
	color: var(--color1)
}

.light{
	--main-bg-color: #f3f3f3;
	--main-sidenav-color: #dcdcdc;
	--hover-color: #73aec7;
	--font-color1: #000000;
	--color1: #749354;
	--color2: #536d6c;
	--color3: #055a2b;
	--color4: #FFF9CA;
	--color5: #753118;
	--color6: #FF6600;
	--font: Poppins;
	--cursor: pointer;
}

.reorderTextInput{
	width: 25px;
	float: right;
	margin-right: 20px;
	background-color: var(--main-sidenav-color);
	color: var(--color4);
}

.tooltiptext{
	visibility: hidden;
	background-color: var(--color1);
	color: var(--font-color1);
	font-size: small;
	opacity: 1;
	border-radius: 6px;
	padding: 5px 5px;
	margin-right: 2.5rem;
	position: absolute;
	z-index: 5;
}

.topbannerbranding{
	display: inline-block;
	position: relative;
	height: 30px;
	width: 33%;
	text-align: center;
}

#addfavbutton{
	z-index: 50;
	background-color: var(--color1);
	color: var(--main-bg-color);
	margin: auto;
}

#branding{
	position: relative;
	bottom: .3rem;
}

#copyright{
	position: absolute;
	background-color: var(--main-sidenav-color);
	width: 100%;
	left: 0px;
	bottom: 4rem;
	font-size: x-small;
	color: var(--color6);
	text-align: center;
}

#copyright p{
	padding: 5px;
	color: var(--color3);
}

#copyright p:hover{
	background-color: var(--hover-color);
	padding: 5px;
}

#contextmenu{
	background-color: var(--color1);
}

#createbuttondialog textarea{
	resize: none;
	margin-left: 20px;
	font-weight: 400;
	height: 300px;
	width: 300px;
	background-color: var(--main-sidenav-color);
	color: var(--color4);
}

#createsectiondialog input,
#createbuttondialog input{
	margin-left: 20px;
	font-weight: 400;
	width: 300px;
	background-color: var(--main-sidenav-color);
	color: var(--color4);
}

#createsectionbutton{
	color: var(--font-color1);
	margin: auto;
	width: 100%;
}

#createsectionbutton:hover{
	background-color: var(--hover-color);
}

#editbuttondialog textarea{
	margin-left: 20px;
	height: 300px;
	width: 300px;
	background-color: var(--main-sidenav-color);
	color: var(--color4);
}

#editbuttondialog input{
	margin-left: 20px;
	font-weight: 400;
	width: 300px;
	background-color: var(--main-sidenav-color);
	color: var(--color4);
}

#favdel{
	position: fixed;
	visibility: hidden;
	background-color: var(--color1);
	z-index: 10;
	color: var(--font-color1);
	font-size: 15px;
	text-decoration: none;
	border: none;
	font-weight: bold;
	width: 142px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#favdel p{
	padding: .5em;
}

#favdel p:hover{
	background-color: var(--hover-color);
}

#favnav{
	height: 100%;
	width: 12%;
	position: fixed;
	z-index: 1;
	top: 50px;
	right: 0;
	overflow: hidden;
	padding-top: 15px;
	background-color: var(--main-sidenav-color);
	font-weight: bold;
}

#favnav p{
	margin: 1px;
	padding: 8px 10px 4px 18px;
	text-decoration: none;
	font-size: 12px;
	color: var(--color2);
	display: block;
	border-color: var(--color2);
}

#favnav p:hover{
	background-color: var(--hover-color);
}

#favnavcells::-webkit-scrollbar,
#favnav::-webkit-scrollbar,
#sidenavcells::-webkit-scrollbar{
	width: 0px;
}

#favnavcells{
	margin-top: -70px;
	margin-bottom: 15px;
	max-height: 1000px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#favnavdropdown{
	position: absolute;
	visibility: hidden;
	background-color: var(--color1);
	z-index: 10;
	font-size: 15px;
	text-decoration: none;
	border: none;
	font-weight: bold;
	width: 142px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#favnavdropdown p{
	color: var(--font-color1);
}

#favnavdropdown p:hover{
	background-color: var(--hover-color);
}

#favnavempty{
	text-align: center;
	margin-left: 5%;
	z-index: 3;
	visibility: hidden;
}

#favnavempty:hover{
	visibility: hidden !important;
}

#help{
	position: absolute;
	background-color: var(--main-sidenav-color);
	width: 100%;
	right: 0px;
	bottom: 5rem;
	text-align: center;
}

#help p{
	padding: 5px;
	font-size: small;
	color: var(--color6);
}

#helpimage{
	display:inline-flex;
	border: solid 3px var(--color1);
	max-width: 200px;
	margin-left: 15rem;
}

#helpimageleft{
	display:inline-flex;
	border: solid 3px var(--color1);
	max-width: 200px;
	float: left;
}

#helpimageright{
	display:inline-flex;
	border: solid 3px var(--color1);
	max-height: 175px;
	margin-bottom: 5px;
	float: right;
}

#limit{
	font-size: xx-small;
	float: right;
	width: 40%;
}

#midcontainer{
	margin-bottom: 50px;
}

#midcontainer h4{
	text-align: center;
}

#midempty{
	z-index: 3;
	position: fixed;
	width: 100%;
	margin-top: 20%;
	text-align: center;
	visibility: hidden;
}

#midnav{
	height: 100%;
	width: 76%;
	position: fixed;
	z-index: 1;
	top: 50px;
	left: 12%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: var(--main-bg-color);
	font-weight: bold;
}

#midnav hr{
	border-width: 12px;
}

#midnav::-webkit-scrollbar{
	width: 0px;
}

#noscript{
	color: var(--color1);
	font-size: large;
}

#popup{
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: var(--color1);
	color: var(--color6);
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 200;
	left: 50%;
	bottom: 30px;
}

#popup.show{
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#agreement{
	color: var(--color3);
}

#privacylink,
#termslink{
	display: inline-flex;
	margin: 10px;
	padding: 50px;
	text-align: center;
}

#settingsbutton{
	position: absolute;
	top: .5rem;
	left: .5rem;
	font-size: 30px;
	color: var(--font-color1);
	z-index: 1;
}

#settingsbutton:hover{
	transform: rotate(45deg);
	color: var(--hover-color);
}

#sidenav{
	height: 100%;
	width: 12%;
	position: fixed;
	z-index: 1;
	top: 50px;
	left: 0;
	overflow-x: hidden;
	padding-top: 15px;
	background-color: var(--main-sidenav-color);
	font-weight: bold;
}

#sidenav a{
	padding: 8px 10px 4px 18px;
	text-decoration: none;
	font-size: 12px;
	color: var(--color2);
	display: block;
	border-color: var(--color2);
}

#sidenav a:hover{
	background-color: var(--hover-color);
}

#sidenav::-webkit-scrollbar{
	width: 0px;
}

#sidenavcells{
	margin-bottom: 15px;
	max-height: 900px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#themebutton{
	position: absolute;
	top: .5rem;
	left: 3rem;
	font-size: 15px;
	color: var(--font-color1);
	z-index: 1;
}

#themebutton:hover{
	transform: rotate(45deg);
	color: var(--hover-color);
}

#topbanner{
	background-color: var(--color1);
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 2;
}

#version{
	color: var(--color6);
}

#createsectiondialog,
#createbuttondialog,
#editbuttondialog,
#exportdialog,
#importdialog,
#privacydialog,
#termsdialog,
#reorderSectionsDialog,
#settingsdialog{
	z-index: 5;
	color: var(--color1);
	font-weight: 600;
	width: 22rem;
}

#createsectiondialog hr,
#createbuttondialog hr,
#privacydialog hr,
#helpdialog hr,
#helpdialog2 hr,
#helpdialog3 hr,
#settingsdialog hr,
#termsdialog hr,
#importdialog hr,
#exportdialog hr{
	border-width: 3px;
}

#createsectiondialog p,
#createbuttondialog p,
#settingsdialog p,
#importdialog p,
#exportdialog p{
	display: inline;
}

#createsectiondialog button,
#createbuttondialog button,
#privacydialog button,
#helpdialog button,
#helpdialog2 button,
#helpdialog3 button,
#settingsdialog button,
#termsdialog button,
#importdialog button,
#exportdialog button{
	float: right;
	margin-top: -3px;
}

#settingsdialog,
#importdialog,
#exportdialog{
	display: none;
}

#helpdialog,
#helpdialog2,
#helpdialog3{
	z-index: 5;
	color: var(--color1);
	font-weight: 600;
	width: 40rem;
	bottom: 3rem;
}

@media screen and (max-width: 896px) {
	h3, h4{
		font-size: small;
		
	}

	
	button{
		font-size: x-small;
	}
	
	.addButtonButton,
	.deleteSectionButton{
		font-size: 7px;
		margin-top: -15px;
	}
	
	.addButtonButton{
		float: right;
	}

	.deleteSectionButton{
		float: left;
	}
	
	#branding{
		font-size:medium;
		top: .5rem;
	}

	#copyright{
		display: none;
	}

	#createbuttondialog textarea{
		width: 200px;
		height: 200px;
	}

	#favnav{
		width: 20%;
		top: 30px;
		
	}

	#favnavempty{
		font-size: 10px;
	}

	#help p{
		font-size: xx-small;
		margin-bottom: -30px;
	}

	#limit{
		font-size: 8px;
	}

	#midcontainer h3{
		overflow-wrap: break-word;
		margin-left: 10px;
		margin-right: 10px;
	}

	#midcontainer button{
		margin-top: 1px;
	}

	#midcontainer h3{
		margin: 5px;
	}
	#midcontainer h4{
		margin-bottom: 20px;
	}
	
	#midnav{
		width: 60%;
		left: 20%;
		top: 60px;
	}
	
	#midnav hr{
		border-width: 4px;
	}
	
	#settingsbutton{
		font-size:medium;
		left: 1rem;
		top: 1rem;
	}
	
	#sidenav{
		width: 20%;
		font-size: 10px;
		top: 30px;
	}

	#sidenav a{
		font-size: 10px;
		overflow-wrap: break-word;
	}
	
	#themebutton{
		font-size: xx-small;
		left: 2.5rem;
		top: 1rem;
	}

	#version{
		display: none;
	}

	#createsectiondialog,
	#createbuttondialog,
	#editbuttondialog,
	#exportdialog,
	#helpdialog,
	#helpdialog2,
	#helpdialog3,
	#importdialog,
	#privacydialog,
	#termsdialog,
	#reorderSectionsDialog,
	#settingsdialog{
		width: 80%;
		bottom: 50px;
		font-size: xx-small;
	}

	#helpimage,
	#helpimageleft,
	#helpimageright{
		margin: 0;
		max-width: 40%;
	}

	#createsectiondialog input,
	#createbuttondialog input,
	#editbuttondialog input,
	#createbuttondialog textarea{
		width: 200px;
	}
}

@-webkit-keyframes fadein{
	from{
		bottom: 0;
		opacity: 0;
	}

	to{
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein{
	from{
		bottom: 0;
		opacity: 0;
	}

	to{
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout{
	from{
		bottom: 30px;
		opacity: 1;
	}

	to{
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout{
	from{
		bottom: 30px;
		opacity: 1;
	}

	to{
		bottom: 0;
		opacity: 0;
	}
}

@-webkit-keyframes dfadein{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

@keyframes dfadein{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}